# 값은 비워 둔다. 로컬 개발용 값은 .env에 적고 .env는 커밋하지 않는다.
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
PORT=
# 브라우저(웹 앱)가 서버를 직접 호출할 때 허용할 오리진. 쉼표로 구분한다. 비우면 허용하지 않는다.
CORS_ALLOWED_ORIGINS=
